interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/census/jobs_breakdown?area=SW1A+1AA
  response:
    body: {string: '{"area":{"latitude":51.501009,"longitude":-0.141588,"district":"Westminster","ward":"St
        James''s"},"totalJobs":2308.0,"jobsBreakdown":[{"socGroup":"111","description":"Chief
        Executives and Senior Officials","value":17.0,"percentage":0.7365684575389948},{"socGroup":"112","description":"Production
        Managers and Directors","value":7.0,"percentage":0.30329289428076256},{"socGroup":"113","description":"Functional
        Managers and Directors","value":53.0,"percentage":2.296360485268631},{"socGroup":"115","description":"Financial
        Institution Managers and Directors","value":6.0,"percentage":0.25996533795493937},{"socGroup":"116","description":"Managers
        and Directors in Transport and Logistics","value":15.0[...]
