interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/geodata/?where=N87RW
  response:
    body: {string: '{"location":{"area":["UK","London","North London","Turnpike Lane"],"__CLASS__":"Adzuna::API::Response::Location","display_name":"Turnpike
        Lane, North London"},"locations":[{"location":{"area":["UK","London","South
        East London","Bromley","Shortlands"],"__CLASS__":"Adzuna::API::Response::Location","display_name":"Shortlands,
        Bromley"},"count":5,"__CLASS__":"Adzuna::API::Response::LocationJobs"},{"location":{"display_name":"Hampton
        Wick, Kingston Upon Thames","area":["UK","London","South West London","Kingston
        Upon Thames","Hampton Wick"],"__CLASS__":"Adzuna::API::Response::Location"},"__CLASS__":"Adzuna::API::Response::LocationJobs","count":5}],"__CLASS__":"Adzuna::API::Response::JobGeoData"}'}
    headers:
      Content-Type: [application/json; charset=utf8]
      X-Catalyst: ['5.90053']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/search/1?location0=UK&location1=London&location2=North+London&sort_by=date&sort_direction=down
  response:
    body: {string: '{"__CLASS__":"Adzuna::API::Response::JobSearchResults","count":3681,"results":[{"__CLASS__":"Adzuna::API::Response::Job","latitude":51.553398,"longitude":-0.103755,"contract_type":"contract","salary_min":37440,"salary_is_predicted":"0","company":{"display_name":"Interserve
        Healthcare","__CLASS__":"Adzuna::API::Response::Company"},"redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/307114169?v=30018E7BE39D4C073F84D366EC3C516111FE1CD8&se=-N300KsVR6Oir0bxjoYQpw&utm_medium=api&utm_source=8910decf","category":{"tag":"healthcare-nursing-jobs","label":"Healthcare
        & Nursing Jobs","__CLASS__":"Adzuna::API::Response::Category"},"salary_max":72960,"description":"RGN
        required to provide complex clinical care in a home environment. \u00a319.50
        - \u00a338.00 per hour. Day and night shifts available. Strand Nurses Bureau,
        a specialist home healthcare provider, is looking to expand it\u2019s team
        of RGNs in order to support a client with complex care needs in their own
        home. Our client is a 60 year old male who suffers with Creutzfeldt Jacob
        Disease. He is immobile, bed and wheelchair bound. He lives with his brother
        and his family in an easily accessible area and we can \u2026","id":"307114169","created":"2015-08-27T15:50:33Z","contract_time":"full_time","title":"RGN","location":{"area":["UK","London","North
        London","Highbury"],"__CLASS__":"Adzuna::API::Response::Location","display_name":"Highbury,
        North London"}},{"title":"Care Assistants - Paediatric","location":{"area":["UK","London","North
        London","Stoke Newington"],"display_name":"Stoke Newington, North London","__CLASS__":"Adzuna::API::Response::Location"},"description":"Care
        Assistants with paediatric experience required to provide care to our young
        client [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/search/2?location0=UK&location1=London&location2=North+London&sort_by=date&sort_direction=down
  response:
    body: {string: '{"mean":31405.39,"results":[{"latitude":51.586237,"created":"2015-08-27T14:53:09Z","salary_min":16346.05,"company":{"display_name":"Allied
        Healthcare","canonical_name":"Allied Healthcare","__CLASS__":"Adzuna::API::Response::Company"},"category":{"tag":"healthcare-nursing-jobs","__CLASS__":"Adzuna::API::Response::Category","label":"Healthcare
        & Nursing Jobs"},"title":"Care Assistant / Worker","contract_time":"full_time","longitude":-0.123313,"redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/307097308?v=657ED13B91D7385E14BF467C853E20B82D3F3302&se=1AzT8buVSJ6AW9yFDejdsQ&utm_medium=api&utm_source=8910decf","id":"307097308","salary_is_predicted":"1","loc[...]
[...]
