interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/geodata/?where=N87RW
  response:
    body: {string: '{"location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"Turnpike
        Lane, North London","area":["UK","London","North London","Turnpike Lane"]},"locations":[{"location":{"__CLASS__":"Adzuna::API::Response::Location","area":["UK","London","South
        East London","Bromley","Shortlands"],"display_name":"Shortlands, Bromley"},"count":5,"__CLASS__":"Adzuna::API::Response::LocationJobs"},{"location":{"display_name":"Hampton
        Wick, Kingston Upon Thames","area":["UK","London","South West London","Kingston
        Upon Thames","Hampton Wick"],"__CLASS__":"Adzuna::API::Response::Location"},"count":5,"__CLASS__":"Adzuna::API::Response::LocationJobs"}],"__CLASS__":"Adzuna::API::Response::JobGeoData"}'}
    headers:
      Content-Type: [application/json; charset=utf8]
      X-Catalyst: ['5.90053']
    status: {code: 200, message: OK}
version: 1
