body.has-report {
  @media #{$large-up} {
    background: #333333;
    padding-top: 1%;
  }

}

.report {
  background: white;
  margin-bottom: 1%;

  > header {
    text-align: center;
    margin: 10% 5% 5% 5%;
    @media #{$medium-up} {
      margin-top: 5%;
    }
    p {
      color: #6F6F6F;
    }
    aside {
      font-size: 0.8em;
      position: absolute;
      top: 0.2%;
      left: 1%;
    }
  }

  section {
    @include clearfix;
    margin-bottom: 2%;

    header {
      h2, h3 { color: #6F6F6F; }
      text-align: center;
      border-top: 1px solid #DFDFDF;
      padding-top: 3%;
      margin-bottom: 1%;
      margin-top: 6%;
      @media #{$medium-up} {
        margin-top: 3%;
        padding-top: 1%;
      }
      @media #{$large-up} {
        margin-top: 0;
      }
    }
    .panel {
      margin-top: 2%;
      header {
        border-top: none;
      }
    }
  }
}

