$base-font-size: 100%;

@import 'styles.scss';

footer {
  text-align: center;
}

body.has-report {
  background: #FFFFFF;
}

.report {
  > header {
    margin-top: 2%;
  }

  section {
    margin-bottom: 1%;
    header {
      padding-top: 1%;
      margin-top: 0;
    }
  }
}
