#start {
    padding-top:50px;
}

label {
  font-size: 1rem;
  margin-bottom:0.5rem;
}

.action {
  position:absolute;
  right:10px;
}

footer {
  background:#333;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}

.vertical.tabs {
    height:100%;
}
