@import '../foundation/scss/normalize';
@import '../foundation/scss/foundation';
@import '_report';

.start-panel {
  margin: 5%;
}

.top-bar-section ul {
  min-width: 50%
}
.tabs .tab-title {
  width: 100%;
}

/* ------------------------------------------------ */
/* result-field                                     */

.result-field {
  color: gray;

}

.result-field.result-field--populated {
  color: green;
}

.result-field .result-field__done {
  display: none;
}

.result-field.result-field--populated .result-field__done {
  display: inline;
}

/* end result-field                                 */
/* ------------------------------------------------ */
