#start {
    padding-top:50px;
}

label {
  font-size: 1rem;
  margin-bottom:0.5rem;
}

.action {
  position:absolute;
  right:10px;
}

footer {
  background:#333;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}

.vertical.tabs {
    height:100%;
}

/* ------------------------------------------------ */
/* result-field                                     */

.result-field {
  color: gray;

}

.result-field.result-field--populated {
  color: green;
}

.result-field .result-field__done {
  display: none;
}

.result-field.result-field--populated .result-field__done {
  display: inline;
}

/* end result-field                                 */
/* ------------------------------------------------ */


.start_page {
    border:solid 1px #c2c2c2;
    box-shadow: 1px 1px 1px #ccc;
    margin-top:3em;
    padding:10px 25px;
}

/* Forms */
form label {
    font-size:19px;
    font-weight:700;
    line-height:1.3157894737;
}

form input[type=text] {
    padding:4px;
    border: 1px solid #bfc1c3;
    background-color: #fff;
    box-shadow: none;
}

form #id_postcode {
    width: 50%;
}
