@import '_foundation_settings';
@import '../foundation/scss/normalize';
@import '../foundation/scss/foundation';
@import '_report';

.start-panel {
  @media #{$medium-up} {
    @include panel($adjust: false);
    margin: 5%;
  }
}

.top-bar-section ul {
  min-width: 50%
}
.tabs .tab-title {
  width: 100%;
}

/* ------------------------------------------------ */
/* result-field                                     */

.result-field {
  color: gray;

}

.result-field.result-field--populated {
  color: green;
}

.result-field .result-field__done {
  display: none;
}

.result-field.result-field--populated .result-field__done {
  display: inline;
}

/* end result-field                                 */
/* ------------------------------------------------ */

// Error style for multi-field widget
.multiwidget input {
    &:not(:last-of-type) {
        margin-bottom:16px;
    }
}

.date-select {
  float: left;
  padding: 5px;
}

#id_date_year, #id_date_month {
  width: 100px;
}

.sectors {
  .selected {
    background: $secondary-color;
  }

  section {
    footer {
      margin-top: 0.5rem;
    }
  }
}

// Leaflet requires that maps have a defined height
.map {
  height: 15rem;
}

.job-suggestion-controls {
  ul {
    @extend .row;
    list-style-type: none;

    li {
      @extend .columns;
      @extend .small-6;
      text-align: center;
    }
  }
}


.sector-progress {
  padding-top: 0.5em;
  font-size: 0.8em;
  color: $jumbo;
}
