interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/geodata/?where=SW1A1AA
  response:
    body: {string: '{"__CLASS__":"Adzuna::API::Response::JobGeoData","locations":[{"count":5,"__CLASS__":"Adzuna::API::Response::LocationJobs","location":{"display_name":"Shortlands,
        Bromley","area":["UK","London","South East London","Bromley","Shortlands"],"__CLASS__":"Adzuna::API::Response::Location"}},{"location":{"display_name":"Hampton
        Wick, Kingston Upon Thames","area":["UK","London","South West London","Kingston
        Upon Thames","Hampton Wick"],"__CLASS__":"Adzuna::API::Response::Location"},"count":5,"__CLASS__":"Adzuna::API::Response::LocationJobs"},{"count":3,"__CLASS__":"Adzuna::API::Response::LocationJobs","location":{"__CLASS__":"Adzuna::API::Response::Location","are[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/search/1?location0=UK&location1=London&location2=South+West+London&sort_by=date&sort_direction=down
  response:
    body: {string: '{"results":[{"__CLASS__":"Adzuna::API::Response::Job","salary_min":15592,"salary_is_predicted":"1","created":"2015-09-21T14:13:35Z","adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiZUdfNldJRzFTbTJNQ1JOeGpUdDgxZyIsImkiOiIzMTQzMzEwMTcifQ.J0j1Ulin6miOldH1DX29l6hHhcni8Bsh5lD69IWBO6I","contract_type":"permanent","location":{"display_name":"Norbury,
        South West London","area":["UK","London","South West London","Norbury"],"__CLASS__":"Adzuna::API::Response::Location"},"description":"Klearwater
        Adults Services are recruiting Experienced Support Workers for Residential
        Care Home For Adults With Autism and mental Health. Our Surrey based service
        is looking for dynamic and experienced Support Workers to join our expanding
        organization. Career progression possible as the organization grows. Our homes
        are specialist and client focused accommodating 3-4 clients ensuring quality
        of care in a client focused environment Hourly rates of \u00a38.00 per hour
        / Fully funded training opportun\u2026","id":"314331017","title":"Experienced
        Support Workers for Learning Disability Residential Care Home","company":{"__CLASS__":"Adzuna::API::Response::Company"},"longitude":-0.123881,"redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/314331017?v=69566A5C36E80F27581D6C0FBC633BCAF6066AC0&se=eG_6WIG1Sm2MCRNxjTt81g&utm_medium=api&utm_source=63a598e7","salary_max":15592,"category":{"__CLASS__":"Adzuna::API::Response::Category","tag":"social-work-jobs","label":"Social
        work Jobs"},"latitude":51.4123},{"salary_max":17495.97,"redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/314330978?v=2571BC4B05727A0126123290FB750ACCAADA3438&se=eG_6WIG1Sm2MCRNxjTt81g&utm_medium=api&utm_source=63a598e7","longitude":-0.20657,"category":{"__CLASS__":"Adzuna::API::Response::Category","tag":"healthcare-nursing-jobs","label":"Healthcare
        & Nursing Jobs"},"latitude":51.42129,"salary_is_predicted":"1","created":"2015-09-21T14:13:14Z","adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMzE0MzMwOTc4IiwicyI6ImVHXzZ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/search/4?location0=UK&location1=London&location2=South+West+London&sort_by=date&sort_direction=down
  response:
    body: {string: '{"mean":30083.2,"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"salary_is_predicted":"1","adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMzE0MzI1NzA5IiwicyI6ImwxWUlZNmxvUjJhSmhjOFNGaFhJM0EifQ.3tUxeXpeL4LpIomEaopUABbhGxw26gzWE84zgZ3XSJQ","created":"2015-09-21T13:14:17Z","__CLASS__":"Adzuna::API::Response::Job","salary_min":16173.29,"contract_type":"permanent","description":"We
        are looking for an after school nanny (roughly 18 hours per week). We have
        3 children aged 3 (boy), 6 (g[...]
[...]
