{% extends "base.html" %}

{% block title %}Tell your work coach your history{% endblock title %}

{% block body_class %}class="history"{% endblock body_class %}

{% block content %}

<div class="row">
  <div class="columns small-10 small-centered start_page">
    <div class="start-panel">
      <h1>Tell your work coach your history</h1>

      <p>This tool collects information about you and your work history that will make your work coach meeting more useful and tailored to you.</p>

      <p>It should take around 15 minutes to complete.

      <p>You’ll be asked about:<p>
      <ul>
        <li>your work or unemployment for the last 2 years</li>
        <li>any training or education you’ve taken</li>
      </ul>

      <p>You’ll be able to print out or email your answers at the end to give to your work coach. </p>
      <p>Your answers will not be stored or saved.</p>

      <a href="{% url "history:current_work" %}" class="button large">Start</a>
    </div>
  </div>

</div>

{% endblock content %}
