{% extends "base.html" %}

{% block title %}Tell your work coach your history{% endblock title %}

{% block body_class %}class="history"{% endblock body_class %}

{% block content %}

<form method=post>
  {% csrf_token %}
  <div class="row">
    <div class="medium-12 columns">
      <h1>Work in 2015</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h3>Did your work status change in 2015?</h3>
      <div {% if form.subject.errors %}class="error"{% endif %}>
        {% for error in form.changes.errors %}
          <small class="error">{{ error|escape }}</small>
        {% endfor %}
      </div>
        {% for choice in form.changes %}
        <div class="medium-12 columns">
          {{choice.tag}}
          <label for="{{ choice.id_for_label }}">{{choice.choice_label}}</label>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h3>Description</h3>
      <p>Tell us more.</p>
      {{ form.description }}
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <input type="submit" class="button" value="Next >>">
    </div>
  </div>
  <hr/>
</form>

{% endblock content %}
