interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/search/1?location0=Uk&location1=London&location2=Central+London&sort_by=date&sort_direction=down
  response:
    body: {string: '{"mean":44053.96,"results":[{"contract_time":"full_time","contract_type":"permanent","salary_min":35000,"id":"307122689","description":"Occupational
        Health Advisor (OHA) - up to 40k - Full Time / Part Time - Permanent - London
        Are you an experienced Occupational Health Advisor? if so, this is an amazing
        opportunity to join a well-established provider of flexible Occupational Health
        Services. Whilst in this OHA role you will be responsible for ensuring delivery
        of a first class leading service for the supply of case management, health
        surveillance, health screening and health promotion to clients. This role
        will be delivered at \u2026","created":"2015-08-27T17:16:55Z","salary_max":40000,"__CLASS__":"Adzuna::API::Response::Job","location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"The
        City, Central London","area":["UK","London","Central London","The City"]},"title":"Occupational
        Health Advisor","category":{"tag":"healthcare-nursing-jobs","label":"Healthcare
        & Nursing Jobs","__CLASS__":"Adzuna::API::Response::Category"},"salary_is_predicted":"0","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Capita
        Social Care Resourcing"},"redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/307122689?v=184BB2939F30BBA9842956457EA2B22B81FC91E1&se=huNFpAxwSJeTMDo7aMPoDw&utm_medium=api&utm_source=63a598e7"},{"category":{"label":"HR
        & Recruitment Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":"hr-jobs"},"title":"Trainee
        Recruitment Consultant","redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/307122640?v=052873B4C5FE67CD525361944659E5CC45A972EF&se=huNFpAxwSJeTMDo7aMPoDw&utm_medium=api&utm_source=63a598e7","salary_is_pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/search/2?location0=Uk&location1=London&location2=Central+London&sort_by=date&sort_direction=down
  response:
    body: {string: '{"mean":44052.07,"count":28990,"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"description":"Data
        Scientist /Data Analyst A superb opportunity has arisen for a Data Scientist
        for a leading financial services company based in the city of London. This
        client are responsible for providing state of the art online trading platforms
        for their clients and are a market leader in their field. They have been growing
        both strategically and organically over the past couple [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/search/4?location0=Uk&location1=London&location2=Central+London&sort_by=date&sort_direction=down
  response:
    body: {string: '{"mean":44052.07,"count":28990,"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"location":{"area":["UK","London","Central
        London","The City"],"display_name":"The City, Central London","__CLASS__":"Adzuna::API::Response::Location"},"redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/307115014?v=6568D57BDED77051FBEF469EDCBF0EE7966613DA&se=abzHZg9JRSGz7vwFSDesyQ&utm_medium=api&utm_source=63a598e7","company":{"display_name":"Hudson","canonical_name":"MacIntyre
        Hudson","__CLASS__":"Adzuna::API::Response::Company"},"salary_is_predicted":"0","category":{"tag":"unknown","__CLASS__":"Adzuna::API::Response::Category","label":"Unknown"},"title":"Finance
        IT Strategy Lead","salary_min":144000,"__CLASS__":"Adzuna::API::Response::Job","salary_max":148800,"created":"2015-08-27T15:55:19Z","id":"307115014","description":"Group
        Finance IT Strategy Lead required to join a high profile programme within
        Investment Banking whic[...]
[...]
