interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/soc/search?q=customer+services
  response:
    body: {string: '[{"soc":7219,"title":"Customer service occupations n.e.c.","description":"Job
        holders in this unit group perform a variety of customer service occupations
        not elsewhere classified in MINOR GROUP 721: Customer Service Occupations.","qualifications":"There
        are no formal academic entry requirements, although many employers expect
        candidates to possess GCSEs/S grades. Training is typically provided on-the-job,
        supplemented by specialist short courses.","tasks":" receives enquiries from
        potential and existing clients, discusses requirements, and recommends products
        or services;\n discusses pricing processes with clients, agrees payment arrangements
        and handles customer accounts;\n makes reservations, books tickets, organises
        insurance policies on behalf of customers;\n follows up clients to ensure
        their satisfaction with a product or service and to gain renewal of customer
        service agreements;\n addresses [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/soc/search?q=security
  response:
    body: {string: "[{\"soc\":9241,\"title\":\"Security guards and related occupations\",\"description\":\"Workers
        in this unit group protect merchandise, individuals, hotels, offices, factories,
        public grounds and private estates from injury, theft or damage, and investigate
        fraud and crime on a non-statutory basis.\",\"qualifications\":\"T[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/soc/search?q=data+entry
  response:
    body: {string: '[{"soc":4217,"title":"Typists and related keyboard occupations","description":"Job
        holders in this unit group type letters, memos, reports and other documents
        from draft, handwritten or dictated matter, using appropriate software packages.","qualifications":"Entry
        is most common with GCSEs/S grades. Entrants are normall[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/ashe/estimatePay?coarse=true&soc=1259
  response:
    body: {string: '{"soc":12,"series":[{"year":2012,"estpay":690},{"year":2013,"estpay":670}]}'}
    headers:
      Content-Type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/ashe/estimateHours?coarse=true&soc=1259
  response:
    body: {string: '{"soc":12,"series":[{"year":2012,"hours":41},{"year":2013,"hours":41}]}'}
    headers:
      Content-Type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/soc/code/1259
  response:
    body: {string: '{"soc":1259,"tasks":" determines staffing, financial, material
        and other short- and long-term requirements;\n ensures that adequate reserves
        of merchandise are held and that stock keeping is carried out efficiently;\n
        authorises payment for supplies received and decides on vending price and
        credit terms;\n examines quality of merchandise and ensures that effective
        use is made of advertising and display facilities;\n manages agencies to provide
        services out-sourced by other organisations and businesses;\n ensures maintenance
        of appropriate service levels to meet the objectives of the business.","description":"Job
        holders in this unit group perform a variety of managerial tasks in other
        service industries not elsewhere classified in MINOR GROUP 125: Managers and
        Proprietors in Other Services.","title":"Managers and proprietors in other
        services n.e.c.","qualifications":"Entry requirements vary according to the
        particular company and/or service. Some companies do not require candidates
        to have academic qualifications but others require a degree or equivalent
        qualification. Off- and on-the-job training may be provided.","add_titles":["Director,
        health and safety","Director, publishing","Director (children''s nursery)","Director
        (commission agents)","Director (educational establishments)","Director (employment
        agency: private)","Director (environmental consultancy)","Director (management
        consultancy)","Director (private detective agency)","Director (security services)","Keeper,
        laundry","Manager, architect","Manager, architecture","Manager, bookmaker''s","Manager,
        branch (radio, television and video hire)","Manager, branch (car hire)","Manager,
        branch (library)","Manager, cemeteries","Manager, cemetery","Manager, centre,
        assessment","Manager, centre, hire","Manager, ce[...]
[...]
