{% extends "base.html" %}

{% block title %}Tell your work coach your history{% endblock title %}

{% block body_class %}class="detailed_history"{% endblock body_class %}

{% block content %}

<form method=post>
  {% csrf_token %}
  <div class="row">
    <div class="medium-12 columns">
      <h1>Other circumstances</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h4>Is there anything else your work coach should know to help understand your circumstances?</h4>
      {{ form.text }}
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <input type="submit" class="button" value="Next">
    </div>
  </div>
  <hr/>
</form>

{% endblock content %}
