interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/search/1?location0=UK&location1=London&location2=Central+London&sort_by=date&sort_direction=down
  response:
    body: {string: '{"results":[{"category":{"tag":"pr-advertising-marketing-jobs","label":"PR,
        Advertising & Marketing Jobs","__CLASS__":"Adzuna::API::Response::Category"},"title":"Programme
        Planner (IT)","redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/307115549?v=ACBAFD5D83753D8A96EA223CD2DF228942DCDFA6&se=U0RO5BK1Ss2W2VPvKkJfRQ&utm_medium=api&utm_source=8910decf","company":{"__CLASS__":"Adzuna::API::Response::Company"},"salary_is_predicted":"0","location":{"area":["UK","London","Central
        London","The City"],"__CLASS__":"Adzuna::API::Response::Location","display_name":"The
        City, Central London"},"created":"2015-08-27T15:55:39Z","description":"Job
        Role: Programme Planner (IT) Salary: \u00a365,000 - \u00a380,000 Location:
        London Programme Planner for a leading globally recogised Media agency, working
        within the PMO function to make key decisions and strategically justify a
        project to be undertaken. The role will include building a robust project
        pipeline and demand forecast that can be used for decision making and is flexible
        enough to respond with speed to changing corporate priorities. The client
        is looking for someone who will be able to eva\u2026","id":"307115549","__CLASS__":"Adzuna::API::Response::Job","salary_max":80000,"salary_min":65000},{"location":{"display_name":"The
        City, Central London","__CLASS__":"Adzuna::API::Response::Location","area":["UK","London","Central
        London","The City"]},"salary_is_predicted":"0","company":{"__CLASS__":"Adzuna::API::Response::Company"},"redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/307115536?v=1E310A812238ADBBACF89FEB10CEE3C978692D94&se=U0RO5BK1Ss2W2VPvKkJfRQ&utm_medium=api&utm_source=8910decf","title":"IT
        Project Planning Manager","category":{"tag":"pr-adver[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/search/3?location0=UK&location1=London&location2=Central+London&sort_by=date&sort_direction=down
  response:
    body: {string: '{"mean":44049.44,"__CLASS__":"Adzuna::API::Response::JobSearchResults","count":28994,"results":[{"redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/307114958?v=F79521DE655B7BE4F3FA5E940FB68742FAE7A3CE&se=8hVWSXNnSyO_o7yyLSgwzQ&utm_medium=api&utm_source=8910decf","salary_is_predicted":"0","company":{"__CLASS__":"Adzuna::API::Response::Company"},"category":{"label":"Accounting
        & Finance Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":"accounting-finance-jobs"},"title":"IT
        Risk - Supervisory Risk Specialist - Banking - London - CISA","location":{"d[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.adzuna.com/v1/api/jobs/gb/search/4?location0=UK&location1=London&location2=Central+London&sort_by=date&sort_direction=down
  response:
    body: {string: '{"count":28994,"mean":44049.44,"results":[{"salary_max":28800,"created":"2015-08-27T15:29:11Z","contract_type":"contract","contract_time":"full_time","__CLASS__":"Adzuna::API::Response::Job","redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/307108707?v=B82B3521331C42C0F2879CBA5E921262BE4760DD&se=t0e7eK0ORjWlKA4g23lWHw&utm_medium=api&utm_source=8910decf","salary_min":28800,"company":{"__CLASS__":"Adzuna::API::Response::Company"},"category":{"tag":"retail-jobs","__CLASS__":"Adzuna::API::Response::Category","label":"Retail
        Jobs"},"id":"307108707","salary_is_predicted":"0","description":"We are currently
        reciting for a Marketing Officer to join a top London university. This role
        will be working directly with the schools and services to implement key advertising
        and recruitment strategies. The post holder will lead the development of all
        campaigns and will be responsible for meeting targets. You will be required
        to report your progress weekly to show the impact on the targets set. You
        will need to be able to communicate effectively with the staff, prospective
        students and stakeh\u2026","location":{"area":["UK","London","Central London","The
        City"],"__CLASS__":"Adzuna::API::Response::Location","display_name":"The City,
        Central London"},"title":"Marketing Officer"},{"latitude":51.51985,"salary_max":25000,"created":"2015-08-27T15:29:10Z","__CLASS__":"Adzuna::API::Response::Job","redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/307108702?v=D5771487BC69457C38DFE1FCA1714AC41E8928EB&se=t0e7eK0ORjWlKA4g23lWHw&utm_medium=api&utm_source=8910decf","salary_min":25000,"company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"French
        Selection UK"},"category":{"__CLASS__":"Adzuna::API::Response::Category","tag":"sales-jobs","label":"Sales
        Jobs"},"description":"FRENCH SELECTION UK French Speaking Business Development
        Executive Consultative Sales, Key Account management, Business Development,
        Account manage","id":"307108702","salary_is_predicted":"0","location":{"area":["UK","London","Central
        London"],"display_name":"Central London, London","__CLASS__":"Adzuna::API::Response::Location"},"longitude":-0.11126,"title":"French
        Speaking Business Development Executive - 382SD"},{"salary_max":40000,"created":"2015-08-27T15:29:08Z","redirect_url":"http://www.adzuna.co.uk/jobs/land/ad/307108664?v=621E8751855CFF0D11EF469319121EB7251F46B8&se=t0e7eK0ORjWlKA4g23lWHw&utm_medium=api&utm_source=8910decf","__CLASS__":"Adzuna::API::Response::Job","salary_min":22000,"company":{"display_name":"Turnstone
        Sales Limited","__CLASS__":"Adzuna::API::Response::Company"},"category":{"label":"Sales
        Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":"sales-jobs"},"salary_is_predicted":"0","id":"307108664","description":"Position:
        Corporate FX Broker Salary: \u00a322,500  bonus (OTE \u00a340,000 year 1)
        Location: London Job Type: PermanentDriven by success? Do you have a keen
        interest in the financial markets? Looking to join the UK''s fasted growing
        corporate foreign exchange br","location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"The
        City, Central London","area":["UK","London","Central London","The City"]},"title":"Graduate
        Corporate FX Broker"},{"description":"Refrigeration/Air Conditioning Service
        Engineer \u00a330,000 - \u00a332000  Lots[...]
[...]
