{% extends "base.html" %}


{% block content %}
  <div class="row">
    <div class="columns large-8 large-centered">
      <h1>Enter location and job roles</h1>
      <form method=post id="sector_form" autocomplete="OFF">
        {{ wizard.management_form }}
        {% csrf_token %}
        <div class="row">
          <div class="columns large-6">
            <label {% if form.postcode.errors %}class="error"{% endif %}>
              {{ form.postcode.label }}
              {{ form.postcode }}
            </label>
            {% for error in form.postcode.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
          </div>
        </div>
        <div class="multiwidget">
          <label {% if form.sector.errors %}class="error"{% endif %}>
            {{ form.sector.label }}
            {{ form.sector }}
          {% for error in form.sector.errors %}
              <small class="error">{{ error|escape }}</small>
          {% endfor %}
          </label>
        </div>
        <p>
          (We'll try and match these against the official categories we have information about).
        <p/>
        <button type="submit">Next</button>
      </form>
      <hr>
    </div>
  </div>
{% endblock content %}
