{% extends "base.html" %}

{% block title %}Understand what sort of jobs you could do{% endblock title %}

{% block content %}

<style>
  .result-item {
    border-top: 1px solid #DFDFDF;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
  .result-item h4 input {
    margin-bottom: 0;
    vertical-align: middle;
  }
</style>

<div class="row">
  <div class="columns">
    <h1>Select jobs you'd like to know more about</h1>
  </div>
</div>
<form id="results" action="{% url "sectors:soc_code_info" %}">
  <input type="hidden" name="postcode" value="{{ postcode }}" id="postcode">
  {% for code,result in results.items %}
    <div class="row">
      <div class="columns medium-10 large-9 result-item">
        <label for="soc_{{ result.soc }}">
          <h4><input type="checkbox" name="soc_{{ result.soc }}" id="soc_{{ result.soc }}"> {{ result.title }}</h4>
          <p>{{ result.description }}</p>
        </label>
      </div>
    </div>
  {% empty %}
  <div class="row">
    <div class="columns">
      <p>Sorry, we couldn't find any results for those job roles</p>
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="columns">
      <button type=submit class=button>Next</button>
    </div>
  </div>
</form>
{% endblock content %}
