{% extends "base.html" %}


{% block content %}

<style>
  .result_item {
    clear:both;
  }
  .result_item+.result_item {
    border-top:1px solid #000;
  }

  .result_item .switch {
    margin:50px;
  }

  .removed * {
    color:#6F777B !important;
  }
</style>

<form id="results" class="row" action="{% url "sectors:soc_code_info" %}">
  <input type="hidden" name="postcode" value="{{ postcode }}" id="postcode">
  <h1>Choose the matches that look relevant to you</h1>
  {% for code,result in results.items %}
    <div class="result_item removed">
      <div  class="small-2 large-2 columns">
        <div class=switch>
          <input type="checkbox" name="soc_{{ result.soc }}" id="soc_{{ result.soc }}" >
          <label for="soc_{{ result.soc }}"></label>
        </div>
      </div>
      <label for=soc_{{ result.soc }} class="small-10 large-10 columns">
        <h2>{{ result.title }}</h2>
        <p>{{ result.description }}</p>
      </label>
    </div>
  {% empty %}
  Sorry, we couldn't find any results for those job roles
  {% endfor %}
  <button type=submit class=button>Next</button>
</form>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script>

    $('#results input[type=checkbox]').click(function() {
        var $this = $(this);
        $this.parents('.result_item').toggleClass('removed', !$this.is(':checked'));
    });

  </script>
{% endblock javascript %}
