{% extends "sectors/base.html" %}
{% load add_get_parameter %}

{% block content %}

  {% include 'sectors/_progress.html' with step_number=2 %}
  <h2 class="heading-xlarge">Jobs you'd like to know more about</h2>
  <p><a href="{% url 'sectors:wizard_step' step='sector_form' %}" class="button">Refine search</a></p>

  <form id="results" method=post autocomplete="OFF">
    {% if form.errors %}
    <div class="form-group error">
    {% for field, error in form.errors.items %}
      <span class="error-message">{{ error|escape }}</span>
    {% endfor %}
    </div>
    {% endif %}
    {% csrf_token %}
    {{ wizard.management_form }}

    {% for fieldset in form.fieldsets %}
      <section>

        <fieldset>
          <legend class="form-label-bold">‘{{ fieldset.legend|title }}’</legend>
          <p>Select all that apply</p>
          {% for field in fieldset %}
            <label class="block-label">
              {{ field }}
              <h4>{{ field.label }}</h4>
              <p>{{ field.help_text }}</p>
            </label>
          {% empty %}
            <div class="row">
              <div class="columns">
                <p>Sorry, we couldn't find any results for this job role</p>
              </div>
            </div>
          {% endfor %}
        </fieldset>

        {% if fieldset.fields %}
          <footer>
            <a href="{% add_get 'show_more[]'=fieldset.legend %}" class="button secondary">More results</a>
          </footer>
        {% endif %}
      </section>
    {% endfor %}

    <div class="form-group">
      <button type=submit class=button>Next</button>
    </div>
  </form>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script>
    $(".result-item :checkbox").change(function() {
      $(this).closest(".result-item").toggleClass("selected", this.checked);
    });
  </script>
{% endblock javascript %}
