{% extends "sectors/base.html" %}

{% block head %}
<noscript>
  <meta http-equiv="refresh" content="2" />
</noscript>
{% endblock head %}

{% block content %}
  <h1 class="heading-xlarge">Please wait while we generate your report...</h1>
  <p class="lede">This could take between 10 and 20 seconds.</p>
  <div class="loader">Loading...</div>
  <footer>
    <a href="{% url 'sectors:start' %}" class="link-back">start again</a>
  </footer>
{% endblock content %}

{% load staticfiles %}
{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/report-pending.js' %}"></script>
{% endblock %}
