{% extends "sectors/base.html" %}

{% block head %}
<noscript>
  <meta http-equiv="refresh" content="2" />
</noscript>
{% endblock head %}

{% block content %}
<main id="content">
  {% include 'sectors/_progress.html' with step_number=3 %}
  <h2 class="heading-xlarge">Please wait while we generate your report...</h2>
  <ul class="list-bullet">
    <li>{% include "sectors/_result_field_pending.html" with field="soc_code_data" message="Generating SOC code report..." %}</li>
  </ul>
</main>
{% endblock content %}

{% load staticfiles %}
{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/report-pending.js' %}"></script>
{% endblock %}
