{% extends "base.html" %}
{% load humanize %}

{% block body_class %}class="has-report"{% endblock body_class %}

{% block title %}Understand what sort of jobs you could do{% endblock title %}

{% block content %}

<div class="row">
  <div class="columns">
    <article class="report clearfix">

      <header>
        <h1>Understand what sort of jobs you could do</h1>
        <p>This report contains information about the jobs you selected. It helps you understand what is required of each job, approximate hours and pay, and terms to use when searching for them online.</p>
        <aside>
          <div class="columns">
            <a href="{% url 'sectors:sector_start' %}">&#8592; start again</a>
          </div>
        </aside>
      </header>

      {% for soc_code,soc_data in report.soc_code_data.items %}

        <section>
          <div class="columns job_item">
            <header>
              <h2>{{ soc_data.info.title }}</h2>
            </header>

            <p>{{ soc_data.info.description }}</p>

            <div class="row">
              <div class="large-6 columns">
                <h4>Typical pay and hours</h4>
                <ul>
                  <li>Normal hours worked per week: {{ soc_data.hours_worked }}</li>
                  <li>Estimated weekly pay: &pound;{{ soc_data.pay|intcomma }}</li>
                </ul>
              </div>

              <div class="large-6 columns">
                <h4>Typical qualifications required</h4>
                <p>{{ soc_data.info.qualifications }}</p>
              </div>
            </div>

            <div class="row">
              <div class="large-6 columns">
                <h4>Typical tasks</h4>
                <ul>
                  {% for task in soc_data.info.tasks %}
                    <li>{{ task|capfirst }}</li>
                  {% endfor %}
                </ul>
              </div>

              <div class="large-6 columns">
                <h4>Useful search terms</h4>
                  <em>{{ soc_data.info.add_titles|slice:":20"|join:", " }}</em>
              </div>
            </div>
          </div>
        </section>

      {% endfor %}

      <section>
        <div class="columns">
          <div class="panel">
            <header>
              <h2>Local area - based on UK Census data</h2>
            </header>
            <div class="row">
              <div class="columns large-6">
                <h3>Jobs in the area</h3>
                <ul>
                {% for job in report.jobs_breakdown %}
                  <li>{{ job.description }}</li>
                {% endfor %}
                </ul>
              </div>

              <div class="columns large-6">
                <h3>Resident professions</h3>
                <ul>
                {% for job in report.resident_occupations %}
                  <li>{{ job.description|title }}</li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="columns">
          <div class="panel">
            <form action="{% url 'sectors:send_report' soc_codes=report.soc_codes postcode=report.postcode %}" method="post">
              <label for="email_address">Email yourself a copy of this report</label>
              {% csrf_token %}
              <div class="row collapse">
                <div class="small-9 medium-10 columns">
                  <input type="text" name="email" placeholder="Email address" id="email_address">
                </div>
                <div class="small-3 medium-2 columns">
                  <input type="submit" class="button postfix" value="Send">
                </div>
              </div>
            </form>
          </div>
        </div>
      </footer>

    </article>
  </div>
</div>


{% endblock content %}
