{% extends "sectors/base.html" %}

{% block head %}
<noscript>
  <meta http-equiv="refresh" content="2" />
</noscript>
{% endblock head %}

{% block content %}
  {% include 'sectors/_progress.html' with step_number=2 %}
  <h1 class="heading-xlarge">Please wait while we generate your report...</h1>
  <p class="lede">This could take between 10 and 20 seconds.</p>
  <div class="loader">Loading...</div>
{% endblock content %}

{% load staticfiles %}
{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/report-pending.js' %}"></script>
{% endblock %}
