{% extends "sectors/base.html" %}
{% load humanize %}

{% block content %}

<main id="content">
  <aside>
    <a href="{% url 'sectors:start' %}?restart" class="link-back">start again</a>
  </aside>

  <header>
    <h2 class="heading-xlarge">Understand what sort of jobs you could do</h2>
    <p class="lede">This report contains information about the jobs you selected.
      It helps you understand what is required of each job, approximate hours and
      pay, and terms to use when searching for them online.</p>
  </header>

  <section class="panel-indent">
    <form action="{% url 'sectors:send_report' report_id=report.pk %}" method="post" autocomplete="OFF">
      {% csrf_token %}
      {% include '_email_form.html' %}
    </form>
  </section>

  {% for soc_code,soc_data in report.soc_code_data.items %}

    <section>
      <div class="job_item">
        <header>
          <h2 class="heading-large">{{ soc_data.info.title }}</h2>
        </header>

        <p>{{ soc_data.info.description }}</p>

        <div class="grid-row">
          <div class="column-half">
            <h3 class="heading-small">Typical pay and hours</h3 class="heading-small">
            <ul>
              <li>Normal hours worked per week: {{ soc_data.hours_worked }}</li>
              <li>Estimated weekly pay: &pound;{{ soc_data.pay|intcomma }}</li>
            </ul>
          </div>

          <div class="column-half">
            <h3 class="heading-small">Typical qualifications required</h3 class="heading-small">
            <p>{{ soc_data.info.qualifications }}</p>
          </div>
        </div>

        <div class="grid-row">
          <div class="column-half">
            <h3 class="heading-small">Typical tasks</h3 class="heading-small">
            <ul>
              {% for task in soc_data.info.tasks %}
                <li>{{ task|capfirst }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="column-half">
            <h3 class="heading-small">Useful search terms</h3 class="heading-small">
              <em>{{ soc_data.info.add_titles|slice:":20"|join:", " }}</em>
          </div>
        </div>
      </div>
    </section>

  {% endfor %}

</main>

{% endblock %}
