{% extends "base.html" %}


{% block content %}
  <div class="row">
    <div class="columns large-8 large-centered">
      {% include 'sectors/_progress.html' with step_number=1 %}
      <h1>About you</h1>
      <form method=post id="sector_form" autocomplete="OFF">
        {% csrf_token %}
        {{ wizard.management_form }}
        <div class="multiwidget">
          <label {% if form.sector.errors %}class="error"{% endif %}>
            {{ form.sector.label }}
            {% for error in form.sector.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
          </label>
          {{ form.sector }}
        </div>

        <button type="submit">Next</button>
      </form>
      <hr>
    </div>
  </div>
{% endblock content %}
