interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/ashe/estimatePay?coarse=true&soc=3114
  response:
    body: {string: '{"soc":31,"series":[{"year":2012,"estpay":590},{"year":2013,"estpay":610}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Auth-Response: ['''NOAUTH']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/ashe/estimateHours?coarse=true&soc=3114
  response:
    body: {string: '{"soc":31,"series":[{"year":2012,"hours":40},{"year":2013,"hours":40}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Auth-Response: ['''NOAUTH']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/soc/code/3114
  response:
    body: {string: '{"soc":3114,"tasks":" sets up apparatus and equipment and undertakes
        field and laboratory tests of soil and work materials;\n performs calculations
        and collects, records and interprets data;\n sets out construction site, supervises
        excavations and marks out position of building work to be undertaken;\n inspects
        construction materials and supervises work of contractors to ensure compliance
        with specifications and arranges remedial work as necessary.","description":"Building
        and civil engineering technicians perform a variety of technical support functions
        to assist civil and building engineers.","title":"Building and civil engineering
        technicians","qualifications":"Entrants usually possess a relevant BTEC/SQA
        award or an Advanced GNVQ/GSVQ Level III. The status of engineering technician
        is obtained after a period of further training at work and upon gaining the
        membership of a professional engineering institution.","add_titles":["Analyst,
        stress (construction, engineering)","Assistant, building","Assistant, engineering,
        civil","Assistant, technical (civil engineering)","Consultant, building","Consultant,
        construction","Consultant, services, building","Controller, production (building
        construction)","Coordinator, project (construction)","Officer, technical (civil
        engineering)","Technician, building","Technician, engineering, civil","Technician,
        engineering, structural","Technician, survey","Technician, surveying","Technician
        (engineering, civil)","Technician (engineering, structural)"]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Auth-Response: ['''NOAUTH']
    status: {code: 200, message: OK}
[...]
