{% load humanize %}

<table style="border: 4px; border-style: solid;">
  <tr>
    <td>Title</td>
    <td>
      <h5>{{ job.title }}</h5>
    </td>
    <td>{% if show_apply and job.url %}<a href="{{ job.url }}" class="button right" target="_blank">apply</a>{% endif %}</td>
  </tr>
  <tr>
    <td>Salary {% if job.salary_is_predicted %}(predicted){% endif %}</td>
    <td colspan="2"><i>max salary:</i> <b>£ {{ job.salary_max | intcomma }}</b>, <i>min salary:</i> <b>£ {{ job.salary_min | intcomma}}</b></td>
  </tr>
  <tr>
    <td>Location</td>
    <td colspan="2">
      <b>{{ job.location_name }}</b>
      {% if job.latitude and job.longitude %}
        <div class="map" data-latitude="{{ job.latitude }}" data-longitude="{{ job.longitude }}"></div>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Category</td>
    <td colspan="2">{{ job.category_name }}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td colspan="2">{{ job.description }}</td>
  </tr>
  <tr>
    <td>Company</td>
    <td colspan="2">
      <b>{{ job.company_name }}</b>
      {% if job.average_company_salary %} (<i>average_company_salary:</i> <b>£ {{ job.average_company_salary | intcomma}}</b>){% endif %}
    </td>
  </tr>
  <tr>
    <td>Contract</td>
    <td colspan="2"><i>contract type:</i> <b>{{ job.contract_type }}</b>, <i>contract time:</i> <b>{{ job.contract_time }}</b></td>
  </tr>
</table>
