{% load humanize %}
{% load pretty_words %}

<table class="job-card">
  <tr>
    <td>Title</td>
    <td>
      <span class="heading-small t-job-title">{{ job.title }}</span>
    </td>
    <td class="apply-cell">
      {% if show_apply and job.url %}<a href="{{ job.url }}" rel="external" target="_blank">apply for this job</a>{% endif %}
    </td>
  </tr>
  <tr>
    <td>Company</td>
    <td colspan="2">
      <b>{{ job.company_name | default_if_none:"unknown" }}</b>
      {% if job.average_company_salary %} (<i>average_company_salary:</i> <b>£ {{ job.average_company_salary | intcomma}}</b>){% endif %}
    </td>
  </tr>
  <tr>
    <td>Location</td>
    <td colspan="2">
      <b>{{ job.location_name }}</b>
      {% if job.has_precise_location and job.latitude and job.longitude %}
        <div class="leaflet-map" data-latitude="{{ job.latitude }}" data-longitude="{{ job.longitude }}"></div>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>Salary {% if job.salary_is_predicted %}(predicted){% endif %}</td>
    <td colspan="2">
      <div class="grid-row">
        <div class="column-half"><i>Min:</i> <b>£ {{ job.salary_min | default_if_none:"unknown" | intcomma }}</b></div>
        <div class="column-half"><i>Max:</i> <b>£ {{ job.salary_max | default_if_none:"unknown" | intcomma }}</b></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>Contract</td>
    <td colspan="2">
      <div class="grid-row">
        <div class="column-half"><i>Type:</i> <b>{{ job.contract_type | default_if_none:"unknown" }}</b></div>
        <div class="column-half"><i>Hours:</i> <b>{{ job.contract_time | replace_underscores:"-" | default_if_none:"unknown" }}</b></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>Description</td>
    <td colspan="2">{{ job.description }}</td>
  </tr>
</table>
