{% extends "base_govuk.html" %}
{% load staticfiles %}

{% block page_title %}Find jobs to apply for{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
<div class="header-proposition">
  <div class="content">
    <div id="proposition-menu">
      <h1 id="proposition-name">Find jobs to apply for</h1>
    </div>
  </div>
</div>
{% endblock %}


{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'leaflet/leaflet.js' %}"></script>
  <script src="{% static 'js/map.js' %}"></script>
  <script src="{% static 'js/analytics/job_discovery.js' %}"></script>
{% endblock %}
