{% extends "base.html" %}

{% block title %}Job Cards{% endblock title %}

{% block body_class %}class="job_cards"{% endblock body_class %}

{% block content %}

{% for job in jobs %}
<table style="border: 4px; border-style: solid;">
  <tr>
    <td>Title</td>
    <td>{{ job.title }}</td>
  </tr>
  <tr>
    <td>Salary</td>
    <td><i>max salary:</i> <b>{{ job.salary_max }}</b>, <i>min salary:</i> <b>{{ job.salary_min }}</b>, <i>is salary predicted?:</i> <b>{{ job.salary_is_predicted }}</b></td>
  </tr>
  <tr>
    <td>Location</td>
    <td><b>{{ job.location.display_name }}</b> (<i>latitude:</i> <b>{{ job.latitude }}</b>,  <i>longitude:</i> <b>{{ job.longitude}}</b>)</td>
  </tr>
  <tr>
    <td>Category</td>
    <td>{{ job.category.label }}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{ job.description }}</td>
  </tr>
  <tr>
    <td>Company</td>
    <td><b>{{ job.company.display_name }}</b> (<i>canonical name:</i> <b>{{ job.company.canonical_name }}</b>, <i>average_salary:</i> <b>{{ job.average_salary }}</b>)</td>
  </tr>
  <tr>
    <td>Contract</td>
    <td><i>contract type:</i> <b>{{ job.contract_type }}</b>, <i>contract time:</i> <b>{{ job.contract_time }}</b></td>
  </tr>
</table>

{% endfor %}

{% endblock content %}
