{% extends "job_discovery/base.html" %}
{% load adzuna %}
{% load embedding %}

{% block logo %}
  <img src="{% dataurl 'images/govuk_template/gov.uk_logotype_crown_invert_trans.png' %}" alt="">
{% endblock %}

{% block css %}
  {% embed_stylesheet "scss/govuk_template/govuk-template-print.css" %}
  {% embed_stylesheet "scss/govuk_template/fonts.css" %}
  {% embed_stylesheet "scss/job-discovery-print.scss" %}
{% endblock %}

{% block content %}

  <header>
    <h1 class="heading-xlarge">You saved {{ jobs|length }} jobs in {{ job_pool_location | friendly_adzuna_location }}</h1>
  </header>

  {% if jobs %}
    {% for job in jobs %}
      <section>
          {% include "job_discovery/_job_card.html" with show_apply=True show_map=False %}
      </section>
    {% endfor %}
  {% else %}

    <p class="lede">You have not liked any jobs so far.</p>

  {% endif %}

  <footer class="feedback">
    <p>Let us know if this report is useful at <strong>feedback@lm-tools.com</strong></p>
  </footer>

{% endblock %}
