{% extends "job_discovery/base.html" %}
{% load adzuna %}

{% block content %}

  <aside>
    <a href="{% url 'job_discovery:start' %}" class="link-back">start again</a>
  </aside>
  <header>
    <h1 class="heading-xlarge">You saved {{ jobs|length }} jobs in {{ job_pool_location | friendly_adzuna_location }}</h1>
  </header>

  {% if jobs %}
    {# <p class="lede">This report contains information about the jobs you selected. It helps you understand what is required of each job, approximate hours and pay, and terms to use when searching for them online.</p> #}

      {% url 'job_discovery:report' guid=guid as form_action %}
      {% include '_email_form.html' with form_action=form_action %}

      {% for job in jobs %}
        <section>
            {% include "job_discovery/_job_card.html" with show_apply=True %}
        </section>
      {% endfor %}

  {% else %}

    <p class="lede">You have not liked any jobs so far.</p>

  {% endif %}

  <footer>
    <a href="{% url 'job_discovery:suggestion' guid=guid %}">back to jobs</a>
  </footer>

{% endblock %}
