{% extends "job_discovery/base.html" %}

{% block content %}
<main id="content">
    <h1 class="heading-xlarge">Discover jobs to apply for</h1>
    <p class="lede">Go through selections of job offers in your area and record which ones you are interested in.</p>
    <form method=post autocomplete="OFF">
        {% csrf_token %}
        <div class="form-group {% if form.postcode.errors %}error{% endif %}">
            <label for="{{ form.postcode.id_for_label }}">
                <span class="form-label{% if form.postcode.errors %}-bold{% endif %}">Postcode</span>
                {% for error in form.postcode.errors %}
                    <span class="error-message">{{ error|escape }}</span>
                {% endfor %}
            </label>
            {{ form.postcode }}
        </div>
        <div class="form-group">
            <button type="submit" class="button button-start">Start</button>
        </div>
    </form>
    <p>This tool is a prototype - your <a href="{% url 'home_page:home' %}#feedback">feedback</a> will help us to improve it.</p>
</main>
{% endblock content %}
