{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block content %}
<div id="start" class="row">
    <div class="large-10 small-centered columns start_page">
        <div class="start-panel">
            <h1>Discover jobs to apply for</h1>
            <form method=post autocomplete="OFF">
                {% csrf_token %}
                <div class="row">
                    <div class="columns small-8 medium-6 large-4 {% if form.postcode.errors %}error{% endif %}">
                        <label>
                            Postcode
                            {{ form.postcode }}
                        </label>
                        {% for error in form.postcode.errors %}
                            <small class="error">{{ error|escape }}</small>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <button type="submit">Start</button>
                    </div>
                </div>
            </form>
            <p>This tool is a prototype - your <a href="{% url 'home_page:home' %}#feedback">feedback</a> will help us to improve it.</p>
        </div>
    </div>
</div>
{% endblock content %}
