{% extends "job_discovery/base.html" %}
{% load adzuna %}

{% block content %}
<main id="content">
  <aside>
    <a href="{% url 'job_discovery:start' %}" class="link-back">start again</a>
  </aside>

  <header>
    <h2 class="heading-medium">Displaying jobs in {{ job_pool_location | friendly_adzuna_location }}</h2>
  </header>

  {% include "job_discovery/_job_card.html" %}

  <form method=post autocomplete="OFF" class="job-suggestion-controls panel" action="{{ request.path }}">
    {% csrf_token %}
    <input type="hidden" name="job_id" value="{{ job.id }}">
    <div class="grid-row">
      <div class="column-two-thirds">
        <button type="submit" name="response" value="no" class="button">No, this isn't for me</button>
        <button type="submit" name="response" value="yes" class="button">Yes, this sounds interesting</button>
      </div>
      <div class="column-third">
        <a href="{% url 'job_discovery:report' guid=guid %}" class="button button-done t-done">I'm done</a>
        {% if report.liked_jobs %}
          <span class="liked-jobs-count">{{ report.liked_jobs|length }} saved job{{ report.liked_jobs|pluralize }}</span>
        {% endif %}
      </div>
    </div>
  </form>

</main>
{% endblock content %}
