{% extends "base_govuk.html" %}

{% block page_title %}Labour market tools{% endblock page_title %}

{% block body_classes %}home{% endblock body_classes %}

{% block content %}
  <h1 class="heading-xlarge">Labour market tools</h1>

  <p class="lede text">A suite of tools to help us understand how we can help people improve their employment prospects.</p>
  <p class="text">These are prototypes - your <a href="#feedback">feedback</a> will help us to improve them.</p>

  <hr>
  <div>
    <h2 class="headling-large">Where you could travel for work</h2>
    <p class="text">This is a map tool to help claimants visualise places they can get to by public transport within 90 minutes.</p>
    <p><a target="_blank" class="button button-start" href="{% url 'travel_report:start' %}">Get started</a></p>
  </div>
  <hr>
  <div>
    <h2 class="headling-large">Understand what sort of jobs you could do</h2>
    <p class="text">Enter the titles of some jobs you think you could do, or some of your skills, to see information about related jobs – such as average working hours, qualifications needed and what to search for online. Generate a report to share with your work coach so they know how to help you.</p>
    <p><a target="_blank" class="button button-start" href="{% url 'sectors:start' %}">Get started</a></p>
  </div>

  <hr>
  <div>
    <h2 class="headling-large">Discover jobs to apply for</h2>
    <p class="text">Go through selections of job offers in your area and record which ones you are interested in.</p>
    <p><a target="_blank" class="button button-start" href="{% url 'job_discovery:start' %}">Get started</a></p>

  </div>
  <hr>

  <div>
    <h2  class="headling-large">Other tools</h2>
    <h3 class="headling-large">Local jobs dashboard</h3>
    <p class="text">A rolling display of jobs being posted online for display on TV screens in job centres.</p>
    <p><a target="_blank" class="button" href="https://lmt-local-jobs-dashboard.herokuapp.com">Get started</a></p>
  </div>

  <hr>
  <div id="feedback">
    <h2 class="headline-large">Send us feedback</h2>
    <p class="text">We would love to know about any questions, bug reports, suggestions
      and comments you may have on our prototypes.</p>
    <form action="{% url 'home_page:home' %}#feedback" method="post" autocomplete="OFF">
      {% csrf_token %}
      <div class="form-group {% if form.name.errors %}error{% endif %}">
        <label class="form-label" for="name">
          <span class="form-label{% if form.name.errors %}-bold{% endif %}">Name</span>
          {% for error in form.name.errors %}
              <span class="error-message">{{ error|escape }}</small>
          {% endfor %}
        </label>
        {{ form.name }}
      </div>
      <div class="form-group {% if form.email.errors %}error{% endif %}">
        <label class="form-label" for="email">
          <span class="form-label{% if form.email.errors %}-bold{% endif %}">Email</span>
          {% for error in form.email.errors %}
              <span class="error-message">{{ error|escape }}</small>
          {% endfor %}
        </label>
        {{ form.email }}
      </div>
      <div class="form-group {% if form.subject.errors %}error{% endif %}">
        <label class="form-label" for="subject">
          <span class="form-label{% if form.subject.errors %}-bold{% endif %}">Subject</span>
          {% for error in form.subject.errors %}
              <span class="error-message">{{ error|escape }}</small>
          {% endfor %}
        </label>
        {{ form.subject }}
      </div>
      <div class="form-group {% if form.message.errors %}error{% endif %}">
        <label class="form-label" for="message">
          <span class="form-label{% if form.message.errors %}-bold{% endif %}">Message</span>
          {% for error in form.message.errors %}
              <span class="error-message">{{ error|escape }}</small>
          {% endfor %}
        </label>
        {{ form.message }}
      </div>
      <div class="form-group">
        <input type="submit" class="button" value="Send">
      </div>
    </form>
  </div>

{% endblock content %}
