{% extends "base.html" %}

{% block title %}Tell your work coach your history{% endblock title %}

{% block body_class %}class="quick_history"{% endblock body_class %}

{% block content %}

<form method=post>
  {% csrf_token %}
  <div class="row">
    <div class="columns">
      <h2>{{ circumstance_title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div {% if form.circumstances.errors %}class="error"{% endif %}>
        {% for error in form.circumstances.errors %}
            <small class="error">{{ error|escape }}</small>
        {% endfor %}
      </div>
      {% for choice in form.circumstances %}
        <div class="columns">
          {{choice.tag}}
          <label for="{{ choice.id_for_label }}">{{choice.choice_label}}</label>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <p><span>from</span><span>TODO</span><span>to</span><span>{{ last_known_date }}
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <h2>Description</h2>
      <p>Tell us more.</p>
      {{ form.description }}
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <input type="submit" class="button" value="Next >>">
    </div>
  </div>
  <hr/>
</form>

{% endblock content %}
