{% extends "base.html" %}

{% block title %}Tell your work coach your history{% endblock title %}

{% block body_class %}class="quick_history"{% endblock body_class %}

{% block content %}

<form method=post autocomplete="OFF" action="{{ request.path }}">
  {% csrf_token %}
  <div class="row">
    <div class="columns">
      <h2>{{ circumstance_title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div {% if form.circumstances.errors %}class="error"{% endif %}>
        {% for error in form.circumstances.errors %}
            <small class="error">{{ error|escape }}</small>
        {% endfor %}
      </div>
      {% for choice in form.circumstances %}
        <div class="columns">
          {{choice.tag}}
          <label for="{{ choice.id_for_label }}">{{choice.choice_label}}</label>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="row">
        <div class="date-select">
          <p>from</p>
        </div>
        {{ form.date }}
        <div class="date-select">
          <p>to {{last_known_date }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row description hide">
    <div class="large-6 columns">
      <h2>Description</h2>
      <p class="question hide full_time part_time">
        Job title and employer.
      </p>
      <p class="question hide training">
        Course name.
      </p>
      <p class="question hide caring">
        Who are you caring for?
      </p>
      <p class="question hide none sick unemployed work_programme">
        Tell us more.
      </p>
      {{ form.description }}
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <input type="submit" class="button" value="Next">
    </div>
  </div>
</form>

<div class="row">
  <div class="columns">
    <a href="{% url 'quick_history:clear_session' %}"><< Start again</a>
  </div>
</div>

{% endblock content %}


{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
  $(document).ready(function() {
    $('input[type=radio][name=circumstances]').change(function() {
      $(".description").removeClass("hide");
      $(".question").addClass("hide");
      $(".question."+this.value).removeClass("hide");
    });
  });
</script>

{% endblock %}
