interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/census/jobs_breakdown?area=SW1A+1AA
  response:
    body: {string: '{"area":{"latitude":51.501009,"longitude":-0.141588,"district":"Westminster","ward":"St
        James''s"},"totalJobs":2308.0,"jobsBreakdown":[{"socGroup":"111","description":"Chief
        Executives and Senior Officials","value":17.0,"percentage":0.7365684575389948},{"socGroup":"112","description":"Production
        Managers and Directors","value":7.0,"percentage":0.30329289428076256},{"socGroup":"113","description":"Functional
        Managers and Directors","value":53.0,"percentage":2.296360485268631},{"socGroup":"115","description":"Financial
        Institution Managers and Directors","value":6.0,"percentage":0.25996533795493937},{"socGroup":"116","description":"Managers
        and Directors in Transport and Logistics","value":15.0[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/census/resident_occupations?area=SW1A+1AA
  response:
    body: {string: '{"area":{"latitude":51.501009,"longitude":-0.141588,"district":"Westminster","ward":"St
        James''s"},"totalResidents":399.0,"residentOccupations":[{"socGroup":"11","description":"CORPORATE
        MANAGERS AND DIRECTORS","value":42.0,"percentage":10.526315789473683},{"socGroup":"12","description":"OTHER
        MANAGERS AND PROPRIETORS","value":8.0,"percentage":2.0050125313283207},{"socGroup":"21","description":"SCIENCE,
        RESEARCH, ENGINEERING AND TECHNOLOGY PROFESSIONALS","value":5.0,"percentage":1.2531328320802004},{"socGroup":"22","description":"HEALTH
        PROFESSIONALS","value":5.0,"percentage":1.2531328320802004},{"socGrou[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/ashe/estimatePay?soc=3114&coarse=true
  response:
    body: {string: '{"soc":31,"series":[{"year":2012,"estpay":590},{"year":2013,"estpay":610}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Auth-Response: ['''NOAUTH']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/ashe/estimateHours?soc=3114&coarse=true
  response:
    body: {string: '{"soc":31,"series":[{"year":2012,"hours":40},{"year":2013,"hours":40}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Auth-Response: ['''NOAUTH']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.lmiforall.org.uk/api/v1/soc/code/3114
  response:
    body: {string: '{"soc":3114,"tasks":" sets up apparatus and equipment and undertakes
        field and laboratory tests of soil and work materials;\n performs calculations
        and collects, records and interprets data;\n sets out construction site, supervises
        excavations and marks out position of building work to be undertaken;\n inspects
        construction materials and supervises work of contractors to ensure compliance
        with specifications and arranges remedial work as necessary.","description":"Building
        and civil engineering technicians perform a variety of technical support functions
        to assist civil and building engineers.","title":"Building and civil engineering
        technicians","qualifications":"Entrants usually possess a relevant BTEC/SQA
        award or an Advanced GNVQ/GSVQ Level III. The status of engineering technician
        is obtained after a period of further training at work and upon gaining the
        membership of a professional engineering institution.","add_titles":["Analyst,
        stress (construction, engineering)","Assistant, building","Assistant, engineering,
        civil","Assistant, technical (civil engineering)","Consultant, building","Consultant,
        construction","Consultant, services, building","Controller, production (building
        construction)","Coordinator, project (construction)","Officer, technical (civil
        engineering)","Technician, building","Technician, engineering, civil","Technician,
        engineering, structural","Technician, survey","Technician, surveying","Technician
        (engineering, civil)","Technician (engineering, structural)"]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Auth-Response: ['''NOAUTH']
    status: {code: 200, message: OK}
[...]
