{% extends "base.html" %}

{% block title %}Tell your work coach your history{% endblock title %}

{% block body_class %}class="quick_history"{% endblock body_class %}

{% block content %}

<form method=post>
  {% csrf_token %}
  <hr/>
  {% if history %}
  <div class="row">
    <div class="columns">
      <h3>Previously:</h3>
      {% for entry in history %}
        <p> {{ entry }}</p>
      {% endfor %}
    </div>
  </div>
  <hr/>
  {% endif %}
  <div class="row">
    <div class="columns">
      <h3>{{ circumstance_title }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <div {% if form.circumstances.errors %}class="error"{% endif %}>
        {% for error in form.circumstances.errors %}
            <small class="error">{{ error|escape }}</small>
        {% endfor %}
      </div>
      <fieldset>
        {% for choice in form.circumstances %}
        <div class="medium-6 columns">
          {{choice.tag}}
          <label for="{{ choice.id_for_label }}">{{choice.choice_label}}</label>
        </div>
        {% endfor %}
        <div class="medium-6 pull-4 columns">
          {{ form.other_more }}
        </div>
      </fieldset>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="columns">
      <h3>For how long have you been in these circumstances?</h3>
    </div>
    <div class="medium-12 columns">
      <div {% if form.duration.errors %}class="error"{% endif %}>
        {% for error in form.duration.errors %}
            <small class="error">{{ error|escape }}</small>
        {% endfor %}
      </div>
      <fieldset>
        <div class="medium-6 columns">
          {% for choice in form.duration %}
            {% if forloop.counter <= 4 %}
              <div class="row">
                {{choice.tag}}
                <label for="{{ choice.id_for_label }}">{{choice.choice_label}}</label>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="medium-6 columns">
          {% for choice in form.duration %}
            {% if forloop.counter > 4 %}
                <div class="row">
                  {{choice.tag}}
                  <label for="{{ choice.id_for_label }}">{{choice.choice_label}}</label>
                </div>
            {% endif %}
          {% endfor %}
        </div>
      </fieldset>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div>
      <h3>Description</h3>
      <p>Tell us more about this period of time.</p>
        {{ form.description }}
    </div>
  </div>
  <div class="row">
    <div>
      <input type="submit" class="button" value="Continue >>">
    </div>
  </div>
  <hr/>
</form>

{% endblock content %}
