.travel-map-legend {
  h5 {
    margin: 5px;
  }
}

.travel-map-legend-box {
  width: 90px;
  height: 30px;
  float: left;
  text-align: center;
  font-weight: bold;
  margin: 5px;
  border-width: 1px solid rgba(0,0,0,.2);
}

.travel-map {
  width:100%;
}
