.travel-map-legend {
  margin-bottom: 5px;
  line-height: 30px;
}

.travel-map-legend-box {
  height: 30px;
  width: 150px;
  float: left;
  text-align: center;
  font-weight: bold;
  margin-right: 5px;
  border-width: 1px solid rgba(0,0,0,.2);
}

.travel-map {
  width:100%;
}
